/* line 10, ../sass/register.sass */
body {
  background-color: #124559;
}

/* line 14, ../sass/register.sass */
.background {
  width: 680px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  text-align: center;
  margin: 0px auto;
  margin-top: 180px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* line 27, ../sass/register.sass */
.box {
  width: 500px;
  font-size: 18px;
  font-family: Microsoft JhengHei;
  background-color: #fff;
  color: #000;
  text-align: center;
  margin: auto;
  padding: 30px;
  padding-top: 70px;
  border-radius: 10px;
  line-height: 20px;
}

/* line 44, ../sass/register.sass */
.title {
  font-size: 50px;
  margin-bottom: 30px;
}

/* line 49, ../sass/register.sass */
hr {
  margin-bottom: 30px;
}

/* line 53, ../sass/register.sass */
input {
  border: solid 2px #D8D8D8;
  border-radius: 5px;
  width: 500px;
  height: 45px;
  font-size: 18px;
  margin-bottom: 30px;
  padding-left: 15px;
}

/* line 65, ../sass/register.sass */
.line {
  text-align: left;
}

/* line 70, ../sass/register.sass */
.alert {
  text-align: left;
  font-size: 10px;
  margin-top: -20px;
}

/* line 76, ../sass/register.sass */
.button {
  background-color: #598392;
  color: #fff;
  font-size: 18px;
  font-family: Microsoft JhengHei;
  text-align: center;
  border: none;
  border-radius: 5px;
  height: 55px;
}

/* line 87, ../sass/register.sass */
.button:hover {
  background-color: #415F6B;
}
